<div class="container">
  <div class="row my-4">
    <div class="col-10">
      <h1>Posts</h1>
    </div>
    <div class="col text-end">
      <%= link_to "Add New post", new_post_path, class: "btn btn-primary" %>
    </div>
  </div>

  <div class="mb-4">
    <%= form_with(url: posts_path, method: :get, local: true, class: 'row g-3') do %>
      <div class="col-auto">
        <label for="search" class="form-label">Search:</label>
        <%= text_field_tag :search, params[:search], class: 'form-control' %>
      </div>
      
      <div class="col-auto">
        <label for="sort_by" class="form-label">Sort by:</label>
        <%= select_tag :sort_by, options_for_select([['Creation-time', 'Creation-time'], ['Title', 'title']], params[:sort_by]), include_blank: true, class: 'form-select' %>
      </div>
      
      <div class="col-auto align-self-end">
        <%= submit_tag 'Apply', class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>

  <% @posts.each do |post| %>
    <div class="card mb-4">
      <div class="card-body">
        <h2 class="card-title">Title: <%= post.title %>
          <span class="small text-muted font-weight-normal"><%= post.created_at.strftime("%d/%m/%Y") %></span>
        </h2>
        <p class="text-muted">Posted by: <%= post.user.email %></p>
        <p class="card-text"><%= truncate(post.body, length: 100) %></p>

        <%= link_to "Read More", post_path(post), class: "btn btn-primary" %>

        <div class="comments mt-4">
          <h3>Comments:</h3>
          <ul class="list-group list-group-flush">
            <% post.comments.each do |comment| %>
              <li class="list-group-item">
                <strong><%= comment.user.email %>:</strong> <%= comment.body %>
              </li>
            <% end %>
          </ul>
        </div>

        <div class="add-comment mt-4">
          <h3>Add a comment:</h3>
          <%= form_with(model: [post, post.comments.build], local: true) do |form| %>
            <div class="form-group">
              <%= form.label :comment %>
              <%= form.text_area :body, class: 'form-control', rows: 3 %>
            </div>
            <div class="form-group mt-2">
              <%= form.submit "Add Comment", class: 'btn btn-primary' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
    <div class="py-4 digg_pagination">
        <%= will_paginate @posts %>
      </div>
</div>
