<div class="container mt-5">
  <div class="mb-3 row">
    <div class="col-10">
      <h2 class="mb-0">Post Information</h2>
    </div>
    <div class="col">
      <%= link_to "Edit this post", edit_post_path(@post), class: "btn btn-primary" %>
    </div>
  </div>

  <div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title">Title</h5>
      <p><%= @post.title %></p>
    </div>
  </div>

  <div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title">Body</h5>
      <p><%= @post.body %></p>
    </div>
  </div>

  <div class="row">
    <div class="col">
      
    <%= link_to "Edit this post", edit_post_path(@post), class: "btn btn-primary mr-2" %>
    </div>
    <div class="col">
      
    <%= link_to "Back to posts", posts_path, class: "btn btn-secondary mr-2" %>
    </div>
    <div class="col">
      
    <%= button_to "Destroy this post", @post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
    </div>
  </div>
  
  <div class="mt-4">
    <h2>Comments:</h2>
    <% @post.comments.each do |comment| %>
      <div class="card mt-3">
        <div class="card-body">
          <p><strong><%= comment.user.email %>:</strong> <%= comment.body %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
